<style type="text/css">
        .categorie-text {
            background-color: rgba(50, 200, 255, 0.75);
            border: 5px solid rgba(255, 255, 255, 0.99);
        }
        .grid-item {
            border-image: linear-gradient(rgba(225, 255, 255, 0.85),rgb(250, 125, 25));
            border-image-slice: 1;
         }
         .quiz {
            background: linear-gradient(rgba(50, 200, 255, 0.75),rgb(0, 0, 0));
        }
        .pages {
            background: linear-gradient(rgba(50, 200, 255, 0.65),rgb(0, 0, 0));
        }
    </style>