<style type="text/css">
        .categorie-text {
            background-color: rgba(15, 155, 25, 0.85);
            border: 5px solid rgba(250, 255, 255, 0.99);
        }
        .grid-item {
            border-image: linear-gradient(rgba(50, 255, 50, 0.85),rgb(250, 125, 25));
            border-image-slice: 1;
         }
         .quiz {
            background: linear-gradient(rgba(15, 155, 25, 0.85),rgb(0, 0, 0));
        }
        .pages {
            background: linear-gradient(rgba(15, 155, 25, 0.85),rgb(0, 0, 0));
        }
    </style>