<style type="text/css">
        .categorie-text {
            background-color: rgba(200, 5, 5, 0.95);
            border: 5px solid rgba(255, 225, 225, 0.95);
        }
        .grid-item {
            border-image: linear-gradient(rgba(214, 0, 0, 0.95),rgb(250, 125, 25));
            border-image-slice: 1;
         }
        .quiz {
            background: linear-gradient(rgba(200, 5, 5, 0.85),rgb(0, 0, 0));
        }
        .pages {
            background: linear-gradient(rgba(200, 5, 5, 0.85),rgb(0, 0, 0));
        }
    </style>